[Unit]
Description=Connect NFS
After=nss-lookup.target network.target

[Service]
Type=simple
ExecStart=/opt/getip.sh

[Install]
WantedBy=multi-user.target
